################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web_Form_Net/.vs/Web_Form_Net/v15/Server/sqlite3/db.lock
